.ipynb_checkpoints
.virtual_documents
sd_previewer_results
sd_previewer_results2
*.un~
*__pycache__
*.swp
untracked
videos

thumbnails_data*
peekaboo_results
peekaboo_results_coco
peekaboo_results_coco_fixed
peekaboo_results_ref_voc_mo
filebrowser.db

peekaboo_misc_results
peekaboo_results_coco_fixed_2
peekaboo_results_coco_nocrop